@page "/memory-game/{GameId}/{CardCollectionId:int}"
@page "/play-memory/{GameId}/{CardCollectionId:int}"
@page "/play/{GameId}/{CardCollectionId:int}"

@if (string.IsNullOrWhiteSpace(PlayerName))
{
    <NameModal Message="@NameModalMessage" OnNameSubmit="async name => await OnNameSubmit(name)" />
}

@if (_playersTurn == null)
{
    <p>Invite <input id="invite" class="form-control-plaintext p-2" readonly value="@Nav.Uri" /></p>
    <div class="display-6">Waiting for players....</div>
    <button class="btn btn-primary mb-5" @onclick="async() => await StartGame()">Click to start</button>
}

<div class="row">
    @if (_playersTurn != null)
    {
        @if (_winMessage == null)
        {
            <div class="display-6 text-primary">@(_playersTurn.Name != PlayerName ? $"It is {_playersTurn.Name}'s turn" : "It's your turn")</div>
        }
        else
        {
            <button @onclick="Reset" class="btn btn-primary col-6">Play again</button>
            <div class="display-6 text-success mt-2">@_winMessage</div>
        }

        <div class="col-xl-9">
            <div class="row">
                @foreach (var card in _cards)
                {
                    <img class="col-2 memory-card" @onclick="async () => await Flip(card)"
                         style=@(!card.IsFlipped ? "transform: rotateY(180deg);" : "" )
                         src="@(!card.IsFlipped ? "not-flipped.png" : card.ImageUrl)" />
                }
            </div>
        </div>

        @* Preload card images invisibly *@
        @foreach (var card in _cards)
        {
            <img src="@card.ImageUrl" width="1" height="1" style="visibility:hidden; position:absolute;" />
        }
    }

    <div class="col-xl-3 mt-xl-0 mt-1">
        <ul class="list-group">
            @foreach (var player in _players)
            {
                <li class="list-group-item bg-secondary text-light">@player.Name - <span class="primary">@player.Points points</span></li>
            }
        </ul>
    </div>
</div>